.ipe-btn {
  position: relative;
  font-size: 11px;
  line-height: 1em;
  vertical-align: middle;
  display: block;
  width: 100%;
  padding: 6.5px 8px;
  background: #e5e5e5;
  color: #111;
  border-radius: 2px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.ipe-overflow-button {
  margin-top: 0;
  .v-input__slot {
    background: #ebebeb !important;
    box-shadow: none !important;
    &:after,
    &:before {
      content: none !important;
    }
  }
  .v-input__control::before {
    content: none !important;
  }
}
