.ipe-table {
  .v-table {
    background: none !important;
    thead {
      tr {
        height: 25px !important;
        padding: 0 8px !important;
        &.v-datatable__progress {
          height: auto !important;
        }
        th {
          padding: 0 8px !important;
        }
      }
    }
    tbody {
      td {
        height: 25px !important;
        font-size: 12px !important;
        padding: 0 8px !important;
      }
    }
  }
}
.vgt-table.ipe-vgt-table {
  font-size: 14px;
  background: transparent;
  border: 0;
  .ipe-column-td {
    padding: 0 5px !important;
    background: transparent;
    border-bottom: 1px solid var(--border-color-row);
    color: var(--text-color-active);
  }
  .ipe-column-th {
    padding: 0 5px !important;
    padding-right: 20px !important;
    background: transparent;
    border-bottom: none;
    color: var(--text-color-active);
  }
}
